@import '../control-bar.scss';

.controlBtn {
    text-align: center;
    background: #252323;
    border-radius: 5pt;
    outline: 0;
    min-width: 55px;
    margin: 0pt 5px;
    height:  $button-height;
    box-sizing: border-box;
    transition: none;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0px 5px
}

.controlBtn:hover {
    cursor: pointer;
    background-color: #343434;
}

.controlBtn:active {
    box-shadow: inset 0px 0px 2pt #b5b5b56b;
    transform: none;
}

.controlBtn > svg {
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
}

.controlBtn:focus {
    border: 1px solid #ffffff4d;
    background: none;
    outline: 0;
}

.controlBtn.has-more {
    min-width: 74px;
}

.controlText {
    font-family: Arial;
    color: white;
    font-size: 0.8rem;
}
.more:hover {
    background: #ffffff29;
}

.more:hover + .controlBtn {
    background: none;
}

.more {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    width: 15px;
    height: 35px;
    overflow: hidden;
    right: 8px;
    top: 3px;
    background: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.control-arrow {
    display: none;
}


.force-left-content {
    top: initial !important;
    bottom: 72px !important;
    left: 5px !important;
}