.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.bottomBar {
  display: flex;
  height: 100px;
  background: #252323;
}

.endMeetingButton {
  box-shadow: inset 0px 0px 0px -10px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 11px 24px;
  border: none;
  text-decoration: none;
  margin: auto;
  height: 3em;
  min-width: 10em;
}

.endMeetingButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

.endMeetingButton:active {
  position: relative;
  top: 1px;
}

.endMeetingDiv {
  display: flex;
  width: 300px;
}

.selfMute {
  color: red;
  width: 100%;
  height: 100%;
}

.selfMuteDiv {
  padding: 10px 0px 10px 35px;
  max-width: 100px;
  display: block;
  min-width: 100px;
}

.selfMuteButton {
  text-align: center;
  width: 76%;
  height: 100%;
  display: block;
  padding: 20px;
  background: #252323;
  border: none;
}

.selfMuteText {
  font-family: Arial;
  color: white;
}

.selfMuteButton:active {
  position: relative;
  top: 1px;
}