.device-selector {
    .field {

    }
    width: 300px;
    background-color: #252323;
    color: white;
    ul {
        padding: 0;
    }
    li {
        text-decoration: none;
        list-style: none;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
        padding-left: 30px;
        cursor:pointer;
        user-select: none; 

    }

    li:hover {
        background-color: #383737;
    }
}

[role=tooltip].control-content {
    width: 300px;
    background-color: #252323;
    border: none;
}