
.userWindow {
    display: inline-block;
    flex:1;
    text-align: start;
  }
  
  .userIcon {
    vertical-align: middle;
    margin-right: 1em;
    height: 2em;
    width: 2em;
  }

.userWindow2:hover {
  background-color: #c8c8c833;
}

.userWindow2 {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    span {
      font-weight: 300;
    }
  }

.mic-button {
  display: inline-block;
  background: none;
  padding: 0;
  border-radius: 5px;;
}

.mic-button:focus, .mic-button:hover {
  background-color: #ffffff45;
}

.mic-icon {
  vertical-align: middle;
  color: #ff0000;
  width: 1.3em;
  height: 1.3em;
}
